<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>景艺园林</title>
    <link rel="stylesheet" href="../src/styles/index.min.css">
</head>
<body>
    <div id="header">
    <div class="wrap">
        <a href="/view/" class="logo">
            <img src="../src/images/logo.jpg" alt="">
        </a>
        <div class="header-nav">
            <ul>
                <li name="index">
                    <a href="index.html">首页</a>
                </li>
                <li name="about">
                    <a href="overview.html">关于景艺</a>
                    <div class="child">    
                        <a href="overview.html" name="overview">公司概况</a>
                        <a href="chairman.html" name="chairman">董事长简历</a>
                        <a href="teaminfo.html" name="teaminfo">团队成员</a>
                        <a href="framework.html" name="framework">公司架构</a>
                        <a href="office.html" name="office">办公环境</a>
                    </div>
                </li>
                <li name="culture">
                    <a href="culture.html">企业文化</a>
                </li>
                <li name="honor">
                    <a href="honor.html">资质荣誉</a>
                </li>
                <li name="information">
                    <a href="gsxw.html">资讯中心</a>
                    <div class="child">
                        <a href="gsxw.html" name="gsxw">公司新闻</a>
                        <a href="whdt.html" name="whdt">文化动态</a>
                        <a href="ldhd.html" name="ldhd">领导活动</a>
                        <a href="hyxw.html" name="hyxw">行业新闻</a>
                        <a href="ywkz.html" name="ywkz">业务扩展</a>
                        <a href="qtxw.html" name="qtxw">其他新闻</a>
                    </div>
                </li>
                <li name="case">
                    <a href="yllh.html">项目案例</a>
                    <div class="child">
                        <a href="yllh.html" name="yllh">园林景观绿化</a>
                        <a href="zzjg.html" name="zzjg">住宅景观</a>
                        <a href="yljz.html" name="yljz">园林建筑</a>
                        <a href="szgc.html" name="szgc">市政工程</a>
                        <a href="jgghsj.html" name="jgghsj">景观规划设计</a>
                    </div>
                </li>
                <li name="jobs">
                    <a href="ylsjzj.html">招纳贤士</a>
                    <div class="child">
                        <a href="ylsjzj.html" name="ylsjzj">园林设计总监</a>
                        <a href="yljgsjs.html" name="yljgsjs">园林景观设计师</a>
                        <a href="tjsgdw.html" name="tjsgdw">土建施工队伍</a>
                        <a href="ylyg.html" name="ylyg">园林员工</a>
                    </div>
                </li>
                <li name="contacts">
                    <a href="contacts.html">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
</div>
    <img src="../src/images/banner/o-banner6.jpg" class="o-banner" alt="">
    <div class="wrap">
        <div class=" page-applying">
            <h3></h3>
            <form id="applying_job_form" action="/jobs/postApplying" method="post" enctype="multipart/form-data" novalidate="novalidate">
                <table class="m-table" width="100%">
                    <tbody>
                        <tr>
                            <th width="15%" class="text-r"><span>*</span>您的姓名:</th>
                            <td width="35%"><div class="form-group"><input type="text" name="name" class="text" placeholder="如：李刚"></div></td>
                            <th width="15%" class="text-r"><span>*</span>联系电话:</th>
                            <td width="35%"><div class="form-group"><input type="text" name="contact" class="text" placeholder="如：13510001000"></div></td>
                        </tr>
                        <tr>
                            <th class="text-r"> 应聘说明:</th>
                            <td colspan="3">
                                <div class="form-group">
                                    <textarea class="text tarea" name="description" style="width:545px; height: 100px"></textarea>
                                </div>
                                <p class="p1">请输入简要的中文留言信息，总字数控制在150个字符以内。</p>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-r"> 上传简历:</th>
                            <td colspan="3">
                                <div class="form-group">
                                    <div class="block"> 
                                        <div class="line"> 
                                            <span class="span"> 
                                                <input type="text" name="viewfile" id="viewfile" onmouseout="document.getElementById('upload').style.display='none';" class="inputstyle"> 
                                            </span> 
                                            <label for="unload" onmouseover="document.getElementById('upload').style.display='block';" class="file1">上传</label> 
                                            <input type="file" name="file" onchange="document.getElementById('viewfile').value=this.value;this.style.display='none';" class="file" id="upload"> 
                                        </div>
                                    </div> 
                                </div> 
                                <p>简历可上传“.doc”、“.docx”或“.pdf”为后缀的文件，文件总大小控制在10M以内。</p>
                            </td>
                        </tr>
                        <tr>
                            <th><input type="hidden" name="uuid" value="d4a8f14bc44244509d9c79c24793efad"></th>
                            <td colspan="3">
                                <input type="submit" class="btn btn-norm btn-success" value="提交">
                                <input type="reset" class="btn btn-norm" value="清空">
                            </td>
                        </tr>
                    </tbody></table>
                
            </form>
        </div>
    </div>
    
    <div id="footer">
    <ul>
        <li>
            <h3>关于我们</h3>
            <p>关于景艺</p>
        </li>
        <li>
            <h3>联系方式</h3>
            <div class="contacts">
                <img src="../src/images/icon/phone.png" alt="">
                <p>小时咨询热线<br>0735--8881688</p>
            </div>
        </li>
        <li>
            <h3>官方微信</h3>
            <img src="../src/images/qrcode.jpg" class="code" alt="">
        </li>
        <li>
            <h3>实名认证</h3>
            <img src="../src/images/icon/auto.png" alt="">
        </li>
    </ul>
    <div class="copyright">
        <img src="../src/images/seal.png">
        <div class="">
            <p>地址: 湖南省郴州市南岭大道968号大华天都写字楼3栋2011室（五岭广场郴州市政府西面）</p>
            <p>Copyright (C) 2008-2016 湖南省景艺园林有限公司 All Rights Reserved 湘ICP备11012643号</p>
        </div>
    </div>
</div>

<div id="pointTip">
    <a href=""><img src="../src/images/icon/kefu.png" alt=""></a>
    <a href=""><img src="../src/images/icon/qq.png" alt=""></a>
    <a href="javascript:;" style="display: none" id="toTop"><img src="../src/images/icon/arrow-top.png" alt=""><p>返回顶部</p></a>
</div>
    <script src="../src/js/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="../src/js/libs/seajs/3.0.0/sea.js"></script>
<script src="../src/js/sea.config.js"></script>
<script>
    $(window).on("scroll", function (){
        var scrollTop = $(window, "body").scrollTop();
        if(scrollTop >= 1000) {
            $("#toTop").stop(true,true).fadeIn(300);
        }
        else{
            $("#toTop").stop(true,true).fadeOut(300);
        }
    })
    $("#toTop").on("click", function (){
        $('html,body').animate({"scrollTop": "0px"}, 300)
    })
</script>
    <script>
        seajs.use(['modules/applying'], function(view){
			view.init();
		});
    </script>
</body>
</html>