<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>景艺园林</title>
    <link rel="stylesheet" href="../src/styles/index.min.css">
</head>
<body>
    <div id="header">
    <div class="wrap">
        <a href="/view/" class="logo">
            <img src="../src/images/logo.jpg" alt="">
        </a>
        <div class="header-nav">
            <ul>
                <li name="index">
                    <a href="/view">首页</a>
                </li>
                <li name="about">
                    <a href="overview.html">关于景艺</a>
                    <div class="child">    
                        <a href="overview.html" name="overview">公司概况</a>
                        <a href="chairman.html" name="chairman">董事长简历</a>
                        <a href="teaminfo.html" name="teaminfo">团队成员</a>
                        <a href="framework.html" name="framework">公司架构</a>
                        <a href="office.html" name="office">办公环境</a>
                    </div>
                </li>
                <li name="culture">
                    <a href="culture.html">企业文化</a>
                </li>
                <li name="honor">
                    <a href="honor.html">资质荣誉</a>
                </li>
                <li name="information">
                    <a href="gsxw.html">资讯中心</a>
                    <div class="child">
                        <a href="gsxw.html" name="gsxw">公司新闻</a>
                        <a href="whdt.html" name="whdt">文化动态</a>
                        <a href="ldhd.html" name="ldhd">领导活动</a>
                        <a href="hyxw.html" name="hyxw">行业新闻</a>
                        <a href="ywkz.html" name="ywkz">业务扩展</a>
                        <a href="qtxw.html" name="qtxw">其他新闻</a>
                    </div>
                </li>
                <li name="case">
                    <a href="yllh.html">项目案例</a>
                    <div class="child">
                        <a href="yllh.html" name="yllh">园林景观绿化</a>
                        <a href="zzjg.html" name="zzjg">住宅景观</a>
                        <a href="yljz.html" name="yljz">园林建筑</a>
                        <a href="szgc.html" name="szgc">市政工程</a>
                        <a href="jgghsj.html" name="jgghsj">景观规划设计</a>
                    </div>
                </li>
                <li name="jobs">
                    <a href="jobs.html">招纳贤士</a>
                </li>
                <li name="contacts">
                    <a href="contacts.html">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
</div>
    <div class="bg">
        <div class="wrap card">
            <img src="../src/images/banner/o-banner1.jpg" class="o-banner" alt="">
            <div class="page-chairman">
                <div class="chairman">
                    <img src="../src/images/chairman.png" alt="">
                    <h1>董事长：王虎</h1>
                    <p>湖南省景艺园林有限公司的创始人 / 总经理 / 高级园林工程师</p>
                </div>
                <ul>
                    <li>2006年毕业于四川农业大学园林规划设计专业。</li>
                    <li>2006年～2008年就职于四川易园风景园林设计院。</li>
                    <li>2008年4月注册并创建湖南省景艺园林有限公司。</li>
                    <li> 2012年至今被选为郴州市园林协会副会长。</li>
                    <li>2016年当选为郴州市花卉苗木协会副会长。</li>
                    <li>自参加工作以来始终坚持“创意改变生活，景观创造价值”的工作理念，创造性的解决工作中的问题、难题，希望能为本行业的发展贡献微薄之力。</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="footer">
    <ul>
        <li>
            <h3>关于我们</h3>
            <p>关于景艺</p>
        </li>
        <li>
            <h3>联系方式</h3>
            <div class="contacts">
                <img src="../src/images/icon/phone.png" alt="">
                <p>小时咨询热线<br>0735--8881688</p>
            </div>
        </li>
        <li>
            <h3>官方微信</h3>
            <img src="../src/images/qrcode.jpg" class="code" alt="">
        </li>
        <li>
            <h3>实名认证</h3>
            <img src="../src/images/icon/auto.png" alt="">
        </li>
    </ul>
    <div class="copyright">
        <img src="../src/images/seal.png">
        <div class="">
            <p>地址: 湖南省郴州市南岭大道968号大华天都写字楼3栋2011室（五岭广场郴州市政府西面）</p>
            <p>Copyright (C) 2008-2016 湖南省景艺园林有限公司 All Rights Reserved 湘ICP备11012643号</p>
        </div>
    </div>
</div>
    <script src="../src/js/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="../src/js/libs/seajs/3.0.0/sea.js"></script>
<script src="../src/js/sea.config.js"></script>
    <script>
        seajs.use(['modules/chairman'], function(view){
			view.init('chairman');
		});
    </script>
</body>
</html>