<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>景艺园林</title>
    <link rel="stylesheet" href="../src/styles/index.min.css">
</head>
<body>
    <div id="header">
    <div class="wrap">
        <a href="/view/" class="logo">
            <img src="../src/images/logo.jpg" alt="">
        </a>
        <div class="header-nav">
            <ul>
                <li name="index">
                    <a href="">首页</a>
                </li>
                <li name="about">
                    <a href="overview.html">关于景艺</a>
                    <div class="child">    
                        <a href="overview.html">公司概况</a>
                        <a href="chairman.html">董事长简历</a>
                        <a href="teaminfo.html">团队成员</a>
                        <a href="framework.html">公司架构</a>
                        <a href="office.html">办公环境</a>
                    </div>
                </li>
                <li name="culture">
                    <a href="culture.html">企业文化</a>
                </li>
                <li name="honor">
                    <a href="honor.html">资质荣誉</a>
                </li>
                <li name="information">
                    <a href="gsxw.html">资讯中心</a>
                    <div class="child">
                        <a href="gsxw.html">公司新闻</a>
                        <a href="whdt.html">文化动态</a>
                        <a href="ldhd.html">领导活动</a>
                        <a href="hyxw.html">行业新闻</a>
                        <a href="ywkz.html">业务扩展</a>
                        <a href="qtxw.html">其他新闻</a>
                    </div>
                </li>
                <li name="case">
                    <a href="case.html">项目案例</a>
                    <div class="child">
                        <a href="yllv.html">园林景观绿化</a>
                        <a href="zzjg.html">住宅景观</a>
                        <a href="yljz.html">园林建筑</a>
                        <a href="szgc.html">市政工程</a>
                        <a href="ygghsj.html">景观规划设计</a>
                    </div>
                </li>
                <li name="jobs">
                    <a href="jobs.html">招纳贤士</a>
                </li>
                <li name="contacts">
                    <a href="contacts.html">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
</div>
    <div class="bg">
        <div class="wrap card">
            <img src="../src/images/banner/o-banner1.jpg" class="o-banner" alt="">
            <div class="page-culture">
                <div class="item">
                    <h4>一、企业文化卡片</h4>
                    <p>1、战略目标：通过服务高端客户 成为精品园林的领导者</p>
                    <p>2、企业宗旨：景艺云臻 合作共赢</p>
                    <p>3、经营理念：以质量求生存 以信誉求发展</p>
                    <p>4、管理理念：行稳以至远 细节定成败</p>
                    <p>5、企业愿景：营造和谐人居环境 打造百年园林企业</p>
                    <p>6、企业精神：诚信 创新 协作 超越</p>
                    <p>7、企业倡导：文化建园 科学造林</p>
                </div>
                <div class="item">
                    <h4>二、人文关怀</h4>
                    <P>景艺公司把员工看成企业的第一财富。公司重视对员工的激励、培养和提高。公司努力创造良好的环境以促进员工的发展及企业的发展，并努力使员工个人的目标与企业的目标最大限度地协调一致。公司致力于将企业打造成一个学习型组织，可以使员工实现提升自我目标的同时，实现企业的目标。</P>
                    <P>公司极为重视员工的个人知识的积累和提高，并积极鼓励员工工余进修、深造，以塑造综合性、复合型的人才，即提升员工个人素质的同时，也提高了企业综合竞争能力，并为企业可持续发展的奠定了稳固的基石。</P>
                    <P>一位现代哲人曾经说过的：企业拥有了文化，就如同人有了思想，前进的脚步才能勇往直前。古人推“和”为终极理想，和谐、和睦、和气，所谓“和”，是所有思想与现实的理想状态。视“和”文化为企业的灵魂所在，渗透进公司经营活动的方方面面，是景艺独特的文化思考。</P>
                    <P>企业哲学：和谐、和睦、和气</P>
                    <P>企业宗旨：追求卓越品质、顾客信赖至上</P>
                    <P>经营理念：诚信、优质、高效</P>
                    <P>服务理念：用我们的诚心，让顾客放心</P>
                    <P>核心价值观：以市场为导向，以客户为中心，以服务质量求生存</P>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
    <ul>
        <li>
            <h3>关于我们</h3>
            <p>关于景艺</p>
        </li>
        <li>
            <h3>联系方式</h3>
            <div class="contacts">
                <img src="../src/images/icon/phone.png" alt="">
                <p>小时咨询热线<br>0735--8881688</p>
            </div>
        </li>
        <li>
            <h3>官方微信</h3>
            <img src="../src/images/qrcode.jpg" class="code" alt="">
        </li>
        <li>
            <h3>实名认证</h3>
            <img src="../src/images/icon/auto.png" alt="">
        </li>
    </ul>
    <div class="copyright">
        <img src="../src/images/seal.png">
        <div class="">
            <p>地址: 湖南省郴州市南岭大道968号大华天都写字楼3栋2011室（五岭广场郴州市政府西面）</p>
            <p>Copyright (C) 2008-2016 湖南省景艺园林有限公司 All Rights Reserved 湘ICP备11012643号</p>
        </div>
    </div>
</div>
    <script src="../src/js/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="../src/js/libs/seajs/3.0.0/sea.js"></script>
<script src="../src/js/sea.config.js"></script>
    <script>
        seajs.use(['modules/culture'], function(view){
			view.init();
		});
    </script>
</body>
</html>