<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>景艺园林</title>
    <link rel="stylesheet" href="../src/styles/index.min.css">
</head>
<body>
    <div id="header">
    <div class="wrap">
        <a href="/view/" class="logo">
            <img src="../src/images/logo.jpg" alt="">
        </a>
        <div class="header-nav">
            <ul>
                <li name="index">
                    <a href="">首页</a>
                </li>
                <li name="about">
                    <a href="">关于景艺</a>
                    <div class="child">    
                        <a href="">公司概况</a>
                        <a href="">董事长简历</a>
                        <a href="">团队成员</a>
                        <a href="">公司架构</a>
                        <a href="">办公环境</a>
                    </div>
                </li>
                <li name="culture">
                    <a href="">企业文化</a>
                </li>
                <li name="honor">
                    <a href="">资质荣誉</a>
                </li>
                <li name="information">
                    <a href="">资讯中心</a>
                    <div class="child">
                        <a href="">公司新闻</a>
                        <a href="">文化动态</a>
                        <a href="">领导活动</a>
                        <a href="">行业新闻</a>
                        <a href="">业务扩展</a>
                        <a href="">其他新闻</a>
                    </div>
                </li>
                <li name="case">
                    <a href="">项目案例</a>
                    <div class="child">
                        <a href="">园林景观绿化</a>
                        <a href="">住宅景观</a>
                        <a href="">园林建筑</a>
                        <a href="">市政工程</a>
                        <a href="">景观规划设计</a>
                    </div>
                </li>
                <li name="jobs">
                    <a href="">招纳贤士</a>
                </li>
                <li name="contacts">
                    <a href="">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
</div>
    
    

    <div id="footer">
    <ul>
        <li>
            <h3>关于我们</h3>
            <p>关于景艺</p>
        </li>
        <li>
            <h3>联系方式</h3>
            <div class="contacts">
                <img src="../src/images/icon/phone.png" alt="">
                <p>小时咨询热线<br>0735--8881688</p>
            </div>
        </li>
        <li>
            <h3>官方微信</h3>
            <img src="../src/images/qrcode.jpg" class="code" alt="">
        </li>
        <li>
            <h3>实名认证</h3>
            <img src="../src/images/icon/auto.png" alt="">
        </li>
    </ul>
    <div class="copyright">
        <img src="../src/images/seal.png">
        <div class="">
            <p>地址: 湖南省郴州市南岭大道968号大华天都写字楼3栋2011室（五岭广场郴州市政府西面）</p>
            <p>Copyright (C) 2008-2016 湖南省景艺园林有限公司 All Rights Reserved 湘ICP备11012643号</p>
        </div>
    </div>
</div>
    <script src="../src/js/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="../src/js/libs/seajs/3.0.0/sea.js"></script>
<script src="../src/js/sea.config.js"></script>
    <script>
        seajs.use(['modules/index'], function(view){
			view.init();
		});
    </script>
</body>
</html>