<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>景艺园林</title>
    <link rel="stylesheet" href="../src/styles/index.min.css">
</head>
<body>
    <div id="header">
    <div class="wrap">
        <a href="/view/" class="logo">
            <img src="../src/images/logo.jpg" alt="">
        </a>
        <div class="header-nav">
            <ul>
                <li name="index">
                    <a href="index.html">首页</a>
                </li>
                <li name="about">
                    <a href="overview.html">关于景艺</a>
                    <div class="child">    
                        <a href="overview.html" name="overview">公司概况</a>
                        <a href="chairman.html" name="chairman">董事长简历</a>
                        <a href="teaminfo.html" name="teaminfo">团队成员</a>
                        <a href="framework.html" name="framework">公司架构</a>
                        <a href="office.html" name="office">办公环境</a>
                    </div>
                </li>
                <li name="culture">
                    <a href="culture.html">企业文化</a>
                </li>
                <li name="honor">
                    <a href="honor.html">资质荣誉</a>
                </li>
                <li name="information">
                    <a href="gsxw.html">资讯中心</a>
                    <div class="child">
                        <a href="gsxw.html" name="gsxw">公司新闻</a>
                        <a href="whdt.html" name="whdt">文化动态</a>
                        <a href="ldhd.html" name="ldhd">领导活动</a>
                        <a href="hyxw.html" name="hyxw">行业新闻</a>
                        <a href="ywkz.html" name="ywkz">业务扩展</a>
                        <a href="qtxw.html" name="qtxw">其他新闻</a>
                    </div>
                </li>
                <li name="case">
                    <a href="yllh.html">项目案例</a>
                    <div class="child">
                        <a href="yllh.html" name="yllh">园林景观绿化</a>
                        <a href="zzjg.html" name="zzjg">住宅景观</a>
                        <a href="yljz.html" name="yljz">园林建筑</a>
                        <a href="szgc.html" name="szgc">市政工程</a>
                        <a href="jgghsj.html" name="jgghsj">景观规划设计</a>
                    </div>
                </li>
                <li name="jobs">
                    <a href="jobs.html">招纳贤士</a>
                </li>
                <li name="contacts">
                    <a href="contacts.html">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
</div>
    
    <div class="wrap part">
        <div class="m-nav">
            <div class="title">项目案例</div>
            <ul>
                <li name="yllh"><a href="yllh.html">园林景观绿化</a></li>
                <li name="zzjg"><a href="zzjg.html">住宅景观</a></li>
                <li name="yljz"><a href="yljz.html">园林建筑</a></li>
                <li name="szgc"><a href="szgc.html">市政工程</a></li>
                <li name="jgghsj"><a href="jgghsj.html">景观规划设计</a></li>
            </ul>
        </div>
        <ul class="part3-list">
            <li>
                <a href="newsdetail.html"><img src="../src/images/9.jpg" alt=""></a>
                <h3><a href="newsdetail.html">热烈庆祝“桂阳县方元镇....</a></h3>
                <p class="time">2017-02-19</p>
                <p>2017年02月18日，阳光明媚，这一天对于燕塘来说是一个特别的日子，因为燕塘人民盼...</p>
            </li>
            <li>
                <a href="newsdetail.html"><img src="../src/images/10.jpg" alt=""></a>
                <h3><a href="newsdetail.html">热烈庆祝“桂阳县方元镇....</a></h3>
                <p class="time">2017-02-19</p>
                <p>2017年02月18日，阳光明媚，这一天对于燕塘来说是一个特别的日子，因为燕塘人民盼...</p>
            </li>
            <li>
                <a href="newsdetail.html"><img src="../src/images/11.jpg" alt=""></a>
                <h3><a href="newsdetail.html">热烈庆祝“桂阳县方元镇....</a></h3>
                <p class="time">2017-02-19</p>
                <p>2017年02月18日，阳光明媚，这一天对于燕塘来说是一个特别的日子，因为燕塘人民盼...</p>
            </li>
            <li>
                <a href="newsdetail.html"><img src="../src/images/12.jpg" alt=""></a>
                <h3><a href="newsdetail.html">热烈庆祝“桂阳县方元镇....</a></h3>
                <p class="time">2017-02-19</p>
                <p>2017年02月18日，阳光明媚，这一天对于燕塘来说是一个特别的日子，因为燕塘人民盼...</p>
            </li>
        </ul>
    </div>

    <div id="footer">
    <ul>
        <li>
            <h3>关于我们</h3>
            <p>关于景艺</p>
        </li>
        <li>
            <h3>联系方式</h3>
            <div class="contacts">
                <img src="../src/images/icon/phone.png" alt="">
                <p>小时咨询热线<br>0735--8881688</p>
            </div>
        </li>
        <li>
            <h3>官方微信</h3>
            <img src="../src/images/qrcode.jpg" class="code" alt="">
        </li>
        <li>
            <h3>实名认证</h3>
            <img src="../src/images/icon/auto.png" alt="">
        </li>
    </ul>
    <div class="copyright">
        <img src="../src/images/seal.png">
        <div class="">
            <p>地址: 湖南省郴州市南岭大道968号大华天都写字楼3栋2011室（五岭广场郴州市政府西面）</p>
            <p>Copyright (C) 2008-2016 湖南省景艺园林有限公司 All Rights Reserved 湘ICP备11012643号</p>
        </div>
    </div>
</div>

<div id="pointTip">
    <a href=""><img src="../src/images/icon/kefu.png" alt=""></a>
    <a href=""><img src="../src/images/icon/qq.png" alt=""></a>
    <a href="javascript:;" style="display: none" id="toTop"><img src="../src/images/icon/arrow-top.png" alt=""><p>返回顶部</p></a>
</div>
    <script src="../src/js/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="../src/js/libs/seajs/3.0.0/sea.js"></script>
<script src="../src/js/sea.config.js"></script>
<script>
    $(window).on("scroll", function (){
        var scrollTop = $(window, "body").scrollTop();
        if(scrollTop >= 1000) {
            $("#toTop").stop(true,true).fadeIn(300);
        }
        else{
            $("#toTop").stop(true,true).fadeOut(300);
        }
    })
    $("#toTop").on("click", function (){
        $('html,body').animate({"scrollTop": "0px"}, 300)
    })
</script>
    <script>
        seajs.use(['modules/jgghsj'], function(view){
			view.init('jgghsj');
		});
    </script>
</body>
</html>