<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>景艺园林</title>
    <link rel="stylesheet" href="../src/styles/index.min.css">
</head>
<body>
    <div id="header">
    <div class="wrap">
        <a href="/view/" class="logo">
            <img src="../src/images/logo.jpg" alt="">
        </a>
        <div class="header-nav">
            <ul>
                <li name="index">
                    <a href="/view">首页</a>
                </li>
                <li name="about">
                    <a href="overview.html">关于景艺</a>
                    <div class="child">    
                        <a href="overview.html" name="overview">公司概况</a>
                        <a href="chairman.html" name="chairman">董事长简历</a>
                        <a href="teaminfo.html" name="teaminfo">团队成员</a>
                        <a href="framework.html" name="framework">公司架构</a>
                        <a href="office.html" name="office">办公环境</a>
                    </div>
                </li>
                <li name="culture">
                    <a href="culture.html">企业文化</a>
                </li>
                <li name="honor">
                    <a href="honor.html">资质荣誉</a>
                </li>
                <li name="information">
                    <a href="gsxw.html">资讯中心</a>
                    <div class="child">
                        <a href="gsxw.html" name="gsxw">公司新闻</a>
                        <a href="whdt.html" name="whdt">文化动态</a>
                        <a href="ldhd.html" name="ldhd">领导活动</a>
                        <a href="hyxw.html" name="hyxw">行业新闻</a>
                        <a href="ywkz.html" name="ywkz">业务扩展</a>
                        <a href="qtxw.html" name="qtxw">其他新闻</a>
                    </div>
                </li>
                <li name="case">
                    <a href="yllh.html">项目案例</a>
                    <div class="child">
                        <a href="yllh.html" name="yllh">园林景观绿化</a>
                        <a href="zzjg.html" name="zzjg">住宅景观</a>
                        <a href="yljz.html" name="yljz">园林建筑</a>
                        <a href="szgc.html" name="szgc">市政工程</a>
                        <a href="jgghsj.html" name="jgghsj">景观规划设计</a>
                    </div>
                </li>
                <li name="jobs">
                    <a href="jobs.html">招纳贤士</a>
                </li>
                <li name="contacts">
                    <a href="contacts.html">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
</div>
    <div class="bg">
        <div class="wrap card">
            <img src="../src/images/banner/o-banner1.jpg" class="o-banner" alt="">
            <div class=" page-overview">
                <h2 class="card-title"><span></span>公司概况</h2>
                <p>湖南省景艺园林有限公司成立于2008年，公司注册资金1010万元。是一家拥有国家园林绿化工程施工二级、设计乙级、市政三级、环保三级、园林古建筑三级、城市及道路照明三级、施工劳务、郴州市花卉苗木一级、湖南省绿化企业信用等级AAA等资质的大型综合性园林企业。公司是郴州市园林协会副会长单位及郴州市花卉苗木行业协会副会长单位，是郴州市、桂阳县、永兴县政府限额采购的定点单位。</p>
                <p>公司员工均为园林及建筑相关专业本、硕士毕业，拥有丰富的理论知识和从业经验。自2008年创立以来，在郴州市场先后主持了：郴州市高职院整体搬迁工程、郴州军分区房产管理处D区经济适用房景观工程、南湖佳园、瑶岗仙矿山公园、郴江河沿江风光带改造、望江公园、卜里坪公园、永兴县气象局整体搬迁工程、资兴市东江南路、资兴市阳安路、苏仙区氟化学产业园、郴州市中医院整体搬迁工程、龙脉领地、市委党校、郴州市消防支队三合一大楼、宇腾化工住宅区1#楼景观工程、安康丰景佳园、幸福花园、景绣华府、郴州市规划局整体搬迁工程、巴比伦水上乐园、塔水公园景观建设施工、桂阳县奇石广场、东坡岭景观工程、映泉体育公园、郴州市幼儿师范学校校园景观工程、郴州大道提质改造工程等项目的设计与施工，并获得了业主的广泛肯定与好评。</p>
                <p>“改善人居环境、创造生态宜居园林景观”景艺专注于园林景观营建，在生态园林及人居环境建设中发挥着重要作用。我们在致力于为客户打造精品的同时，更将改善人居环境、创造生态宜居园林景观为己任，不断开拓进取，勇往直前，希望通过景艺的努力为蓝色的地球营造更多的绿色。</p>
                <p>公司奉行<span style="color: #019149">“景艺云臻，合作共赢”</span>的发展理念，愿与社会各界人士开展广泛的交流与合作，合作共赢，共创辉煌。我们坚信，我们的参与一定能让人居生活更美好。</p>
            </div>
        </div>
    </div>
    <div id="footer">
    <ul>
        <li>
            <h3>关于我们</h3>
            <p>关于景艺</p>
        </li>
        <li>
            <h3>联系方式</h3>
            <div class="contacts">
                <img src="../src/images/icon/phone.png" alt="">
                <p>小时咨询热线<br>0735--8881688</p>
            </div>
        </li>
        <li>
            <h3>官方微信</h3>
            <img src="../src/images/qrcode.jpg" class="code" alt="">
        </li>
        <li>
            <h3>实名认证</h3>
            <img src="../src/images/icon/auto.png" alt="">
        </li>
    </ul>
    <div class="copyright">
        <img src="../src/images/seal.png">
        <div class="">
            <p>地址: 湖南省郴州市南岭大道968号大华天都写字楼3栋2011室（五岭广场郴州市政府西面）</p>
            <p>Copyright (C) 2008-2016 湖南省景艺园林有限公司 All Rights Reserved 湘ICP备11012643号</p>
        </div>
    </div>
</div>
    <script src="../src/js/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="../src/js/libs/seajs/3.0.0/sea.js"></script>
<script src="../src/js/sea.config.js"></script>
    <script>
        seajs.use(['modules/overview'], function(view){
			view.init('overview');
		});
    </script>
</body>
</html>